/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

/* Esercizio - 1 */

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}

/* Esercizio - 2 */

.ex-2-square:active{
  width: 100%;
}

.ex-2-square{
  transition: all 2s;
}

/* Esercizio - 3 */

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-3-square{
  transition: 1s;
}

/* Esercizio - 4 */

.ex-4-square:hover{
  opacity: 0;
}

.ex-4-square{
  transition: 2s;
}

/* Esercizio - 5 */

.ex-5-square:hover{
  transform: scale(1.5);
}

.ex-5-square{
  transition: 1s;
}

.ex-5-square:active{
  transform: scale(0.5);
}

/* Esercizio - 6 */

.ex-6-img:hover{
  filter: grayscale(1);
}

/* Esercizio - 7 */

.ex-7-img:hover{
  filter: sepia(0.8);
}

.ex-7-img{
  transition: 1s;
}

/* Esercizio - 8 */

.ex-8-img:hover{
  filter: saturate(0.5);
  border-radius: 20px;
}

.ex-8-img{
  transition: 1s;
}

/* Esercizio - 9 */

.ex-9-img:hover{
  transform: scale(1.5);
  border-radius: 20px;
}

.ex-9-img{
  transition: 1s;
}

/* Esercizio - 10 */

.ex-10-icon{
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-name: giro;
  animation-timing-function: linear;
  animation-direction: reverse;
}

@keyframes giro {
 0%{
  transform: rotate(0);
}
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* Esercizio - 11 */

.ex-11-icon:hover{
  animation-name: giropazzo;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes giropazzo {
  0%{
    transform: rotate(0);
  }
    25%{
      transform: rotate(90deg);
    }
    50%{
      transform: rotate(180deg);
    }
    75%{
      transform: rotate(270deg);
    }
    100%{
      transform: rotate(0deg);
    }  
}

/* Esercizio - 12 */

.ex-12-button:hover .ex-12-top-white {
  animation-name: wigglewiggletop;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes wigglewiggletop {
  0% {
    left: 10%;
}
  50% {
    left: 60%
}
  100% {
    left: 10%;
}
}

.ex-12-button:hover .ex-12-bottom-white {
  animation-name: wigglewigglebottom;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes wigglewigglebottom {
  0% {
    right: 10%;
}
  50% {
    right: 60%
}
  100% {
    right: 10%;
}
}

/* Esercizio - 13 */

.ex-13-button:hover .ex-13-top-white {
  animation-name: rotate-top;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes rotate-top {
    0%{
      top: -10px;
      left: 10%;
    }
    25%{
      top: -10px;
      left: 50%;
      }
    50%{
      left: 80%;
      top: 50px;
    }
    75%{
      left: 0;
      top: 100px;
    }
    100%{
      top: -10px;
      left: 10%;
      }  
}

.ex-13-button:hover .ex-13-bottom-white {
  animation-name: rotate-top;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes rotate-bottom {
    0%{
      bottom: -10px;
      right: 20%;
    }
    25%{
      bottom: -10px;
      right: 80%;
      }
    50%{
      right: 80%;
      bottom: 50px;
    }
    75%{
      right: 0;
      bottom: 10px;
    }
    100%{
      bottom: -10px;
      right: 20%;
      }  
}




