/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

/* Esercizio - 1 */

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}

/* Esercizio - 2 */

.ex-2-square:active{
  width: 100%;
}

.ex-2-square{
  transition: all 2s;
}

/* Esercizio - 3 */

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-3-square{
  transition: 1s;
}

/* Esercizio - 4 */

.ex-4-square:hover{
  opacity: 0;
}

.ex-4-square{
  transition: 2s;
}

/* Esercizio - 5 */

.ex-5-square:hover{
  transform: scale(1.5);
}

.ex-5-square{
  transition: 1s;
}

.ex-5-square:active{
  transform: scale(0.5);
}

/* Esercizio - 6 */

.ex-6-img:hover{
  filter: grayscale(1);
}

/* Esercizio - 7 */

.ex-7-img:hover{
  filter: sepia(0.8);
}

.ex-7-img{
  transition: 1s;
}

/* Esercizio - 8 */

.ex-8-img:hover{
  filter: saturate(0.5);
  border-radius: 20px;
}

.ex-8-img{
  transition: 1s;
}